@font-face {
  font-family: "Genova-Medium";
  src: url("../public/typefaces/Genova-Medium.otf");
}
@font-face {
  font-family: "Made Tommy Soft";
  src: url("../public/typefaces/MADE\ Tommy\ Soft\ Regular\ PERSONAL\ USE.otf");
}

@font-face {
  font-family: "Genova";
  src: url("../public/typefaces/Genova.otf");
}

@font-face {
  font-family: "Vanilla";
  src: url("../public/typefaces/Vanilla\ Caramel.otf");
}
body{
  background-color: #F6F9FB;
}

#caseStudy{
  
  background-image: url("../public/images/caseStudyStar.png");
  margin: 0%;
  background-color: #F6F9FB;
  background-size: contain;
  background-position: center;
}

#about{
  background-image: url("../public/images/aboutStar.png");
  background-color: #F6F9FB;
  margin: 0%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#home{
  background-image: url("../public/images/homeStar.png");
  background-color: #F6F9FB;
  margin: 0%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
h1{
  color: #000;
  font-family: Genova-Medium;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

#work{
  text-align: center;
}

.Page{
  padding-bottom: 2%;
}

h2{
  font-family:'Made Tommy Soft';
  font-size: 1.3 em;
}

h3{
  color: #000;
  text-align: center;
  font-family: "Vanilla Caramel";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.largeCardText{
  color: #000;
text-align: left;
font-family: Genova-Medium;
font-size: 2.25rem;
/* font-style: normal; */
font-weight: 500;
/* line-height: normal; */
  margin-bottom:0;
  margin-top: 5%;
  margin-left: 5%;
}

.smallCardText{
  color: #000;
text-align: left;
font-family: "Vanilla Caramel";
font-size: 1.625rem;
/* font-style: normal; */
font-weight: 400;
/* line-height: normal; */
margin-bottom: 0;
margin-top: 0;
margin-left: 5%;
}
p{
  font-family: Made Tommy Soft;
}

.App {
  text-align: center;
  background-color: #F6F9FB;
  padding: 0%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.landing {
  background-color: #C5DCE7;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* styling for card */

/* .cardNav{
  width:30%;
  background-color: #61dafb;
  border-radius:30px;
} */
.caseCard{
  height: 100%;
  margin: 0;
  border-radius: 30px;
  background-color: #96CBEC;
  display: flex;
  flex-direction: column;


}

.cardNav{

  margin:0%;
  padding: 0%;
  color: #000000;
  text-decoration: none;
  height: 95%;
  width: 95%;
  cursor: pointer;
  &.active {
    text-decoration: underline
  }
  

}




.container{
  border-radius: 30px 30px 0px 0px;
  
  width:100%;
  height:70%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.one{
  background-color:#C5DCE7;
}
.two{
  background-color:#FBDF7E;
}

.cardBottom{
  height: 30%;
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: #96cbec;
  border-radius: 0 0 30px 30px;
  bottom: 0;
  text-align: left;
}

.landingImageContainer{
  height: 39vh;
  width: 21vw;
  background-color:#F6F9FB;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.landingWords{
  margin: 2.5%;
}

img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 30px;
}

.caseStudies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  margin: 1%;
  height: 57vh;
  width: 42vw;
  transition: transform .2s;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;


}



.card:hover{
  background-color: #96cbec;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.25);
  transform: scale(1.05);
}

.disable{
  transition:none;
}

.disable:hover{
  cursor:default;
  box-shadow: none;
  transform: none;
  background-color: #F6F9FB;
  
}

.studyTitle{
  font-family:Genova;
  font-size: 3em;
  margin-left:10%;
  margin-bottom: auto;
}

.studySection{
  font-family:Genova;
  font-size: 2.25em;
  font-weight: 500;
  margin-left: 15%;
  margin-right: 15%;
  margin-top:4%;
  
  margin-bottom:auto;
}

.studyText{
  margin-left: 15%;
  margin-right: 15%;
}

.buttons{
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 2%; */
}

.caseButton{
  color:black;
  background-color: #96CBEC;
  text-decoration: none;
  border-radius: 30px;
  padding: 1%;
  margin-top: 2%;
}

.workLanding{
  background-color: #C5DCE7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vh;
}



.aboutContainer{
  height: 50vh;
  width: 23vw;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5%; */

}

.about{
  margin: 0%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  padding-top: 2.5%; 
  padding-bottom: 2.5%; 
  height: 70.8vh;
}

.aboutWords{
  margin: 5%;
  width: 52vw;
  
}

.funFact{
  font-family: Vanilla;
  font-size:1.5rem;
}

.actualBio{
  font-family: Made Tommy Soft;
  font-size: 1.5rem;
}

.cardImage{
  height: 90%;
  border-radius: 0px;

}


.footer{
  margin-top: 2%;
  padding-bottom: 2%;

  h1{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1rem
  }
  a{
    font-family: Made Tommy Soft;
    font-size: 0.9rem;
    color:#000000;
    text-decoration: none;
    align-self: left;
    margin-top: 10%;
    margin-bottom: 5%;
  }

}
.contact{
  display: flex;
  flex-direction: column;
}

.navigation{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}



@media only screen and (max-width:1260px) {


  .aboutWords{
    h1{
      font-size:1.8rem;
    }
    h3{
      font-size:1.3rem;
    }
    p{
      font-size: 1rem;
    }
  }
  .landingWords{
    margin-left: 20%;
    margin-right: 20%;
    h1{
      font-size:1.5rem;
    }
    p{
      font-size: 0.8rem;
    }

  }

  .largeCardText{
  color: #000;
text-align: left;
font-family: Genova-Medium;
font-size: 1.8rem;
/* font-style: normal; */
font-weight: 500;
/* line-height: normal; */
  margin-bottom:0;
  margin-top: 5%;
  margin-left: 5%;
}

.smallCardText{
  color: #000;
text-align: left;
font-family: "Vanilla Caramel";
font-size: 1.3rem;
/* font-style: normal; */
font-weight: 400;
/* line-height: normal; */
margin-bottom: 0;
margin-top: 0;
margin-left: 5%;
}



  .landing {
    background-color: #C5DCE7;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    color: black;
    display: flex;
    flex-direction: column;
  }

  .landingImageContainer{
    height: 39vh;
    width: 50vw;
    background-color:#F6F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }

  .caseStudies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .card{
  height: 55vh;
  width: 55vw;
  }

  .caseCard{
  /* height: 400px; */
  margin: 0;
  border-radius: 30px;
  
  background-color: #96CBEC;
  display: flex;
  flex-direction: column;


}
}


@media only screen and (max-width:700px) {


  .aboutWords{
    h1{
      font-size:1.4rem;
    }
    h3{
      font-size:1rem;
    }
    p{
      font-size: 0.7rem;
    }
  }
  .landingWords{
    margin-left: 20%;
    margin-right: 20%;
    h1{
      font-size:1.4rem;
    }
    p{
      font-size: 0.7rem;
    }
    
  }

  .largeCardText{
  color: #000;
text-align: left;
font-family: Genova-Medium;
font-size: 1.4rem;
/* font-style: normal; */
font-weight: 500;
/* line-height: normal; */
  margin-bottom:0;
  margin-top: 5%;
  margin-left: 5%;
}

.smallCardText{
  color: #000;
text-align: left;
font-family: "Vanilla Caramel";
font-size: 1rem;
/* font-style: normal; */
font-weight: 400;
/* line-height: normal; */
margin-bottom: 0;
margin-top: 0;
margin-left: 5%;
}
  .footer{
  margin-top: 2%;
  padding-bottom: 2%;

  h1{
    font-size: 1rem;
  }
  h3{
    font-size: 0.7rem
  }
  a{
    font-family: Made Tommy Soft;
    font-size: 0.6rem;
    color:#000000;
    text-decoration: none;
    align-self: left;
    margin-top: 10%;
    margin-bottom: 5%;
  }

}

  .landing {
    background-color: #C5DCE7;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    color: black;
    display: flex;
    flex-direction: column;
  }

  .landingImageContainer{
    height: 25vh;
    width: 50vw;
    background-color:#F6F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }

  .caseStudies {
    display: flex;
    justify-content: center;

  }

  .card{
    height: 55vh;
  width: 65vw;
  }
  .caseCard{
  /* height: 400px; */
  margin: 0;
  border-radius: 30px;
  background-color: #96CBEC;
  display: flex;
  flex-direction: column;


}
}

